*.log
.DS_Store
.env
.env.backup
.env.production
.env.docker
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/src/bootstrap/ssr
/node_modules
/src/public/build
/src/public/hot
/src/public/storage
/storage/*.key
/src/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
